<div class="container">
  <section class="todoapp">
    <!-- toewijzen van de event handler voor gebruikt methode -->
    <!-- elke keer als add.emit wordt opgeroepen in header html dan zal
         onAddTodo($event) handler worden opgeroepen en $event is dan gelijk
         aan value -->

    <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>

    <app-todo-list
      [todos]="todos"
      (toggleComplete)="onToggleTodoComplete($event)"
      (remove)="onRemoveTodo($event)"
    ></app-todo-list>

    <app-todo-list-footer [todos]="todos"></app-todo-list-footer>
  </section>
  <section class="todoapp2">
    <app-done-list
      [todos]="todos"
      (toggleComplete)="onToggleTodoComplete($event)"
    ></app-done-list>
  </section>
</div>

<router-outlet></router-outlet>
